<footer class="footer">
    <div class="footer-container">
      <div class="footer-col">
        <img src="images/logo-dark.png" alt="Empire Textile Logo" class="footer-logo" />
      </div>
  
      <div class="footer-col">
        <h4 data-i18n="footer_nav">Navigate</h4>
        <ul>
          <li><a href="index.html" data-i18n="footer_home">Home</a></li>
          <li><a href="products.html" data-i18n="footer_products">Products</a></li>
          <li><a href="certificates.html" data-i18n="footer_certificates">Certificates</a></li>
          <li><a href="about.html" data-i18n="footer_about">About us</a></li>
          <li><a href="contact.html" data-i18n="footer_contact_link">Contact</a></li>
        </ul>
      </div>
  
      <div class="footer-col">
        <h4 data-i18n="footer_info">Info</h4>
        <ul>
          <li><a href="#" data-i18n="footer_terms">Terms of Use</a></li>
          <li><a href="#" data-i18n="footer_privacy">Privacy Policy</a></li>
          <li><a href="certificates.html" data-i18n="footer_certificates">Certificates</a></li>
        </ul>
      </div>
  
      <div class="footer-col">
        <h4 data-i18n="footer_contact">Contact us</h4>
        <p>+48 690 984 002</p>
        <p>biuro@empiretextile.pl</p>
        <p>bobur@empiretextile.pl</p>
      </div>
    </div>
  </footer>
  